<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true">

  <extensions>
    <add assembly="Gem"/>
  </extensions>

  <targets async="true">
    <target name="file" xsi:type="File"
            fileName="${basedir}/logs/logfile.csv" 
            archiveFileName="${basedir}/logs/log.{#####}.csv"
            maxArchiveFiles="50"
            archiveAboveSize="10485760"
            archiveNumbering="Sequence"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="iso-8859-2">

        <layout xsi:type="CSVLayout" Delimiter="Comma">
          <column name="time" layout="${date:format=yy-MM-dd HH\:mm\:ss.ff}" />
          <column name="level" layout="${level}"/>
          <column name="thread" layout="${threadid}"/>
          <column name="logger" layout="${logger:shortName=true}"/>
          <column name="method" layout="${callsite:className=false:includeSourcePath=false}"/>
          <column name="message" layout="${message}" />
          <column name="exception" layout="${exception:format=Type,Method,ToString}"/>
        </layout>
      </target>
    <target name="console" xsi:type="Console" layout="${date:format=yy-MM-dd HH\:mm\:ss.ff} ${threadid} ${logger:shortName=true} ${callsite:className=false:includeSourcePath=false} ${message} ${exception:format=Type,Method,ToString}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>
